body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**Styling for elements that need to yet be implemented*/
.implement {
    background-color: yellow;
    color: red;
    font-weight: bolder;
    font-size: larger;
}

/** Styles for header section.*/

header {
    display: block;
    margin: auto;
    background-color: #F5DC61;
}

#headshot-container {
    display: block;
    width: 30%;
    margin: auto;
    max-width: 200px;
    min-width: 100px;
    padding: 0px;
}

#headshot-container img {
    width: 100%;
    border: 10px solid #11B5E4;
    border-radius: 50%;
    margin: 0px;
    margin-top: 5px;
}

#description-and-links-container {
    display: block;
    text-align: center;
}

#description-and-links-container > p {
    margin: 5px;
}

#links-to-professional-profiles {
    width: fit-content;
    margin: auto;
}

#links-to-professional-profiles a img {
    width: 100px;
    margin: 0px 20px;
}

/**Styling for the navigation bar.*/

#navigation-bar {
    margin: 0px;
    background-color: #11B5E4;
    height: 70px; /*The ul#navigation-links element containing the links must have this height, too.*/
}

#navigation-bar > ul#navigation-links {
    margin: 0px 1.5% 0px 0px;
    padding: 0px;
    list-style-type: none;
    height: 70px; /*Same height as that one of the #navigation-bar*/
}


#navigation-bar > ul#navigation-links > li {
    display: inline-block;
    margin: 0px 0px 0px -5px;
    padding: 0px;
    height: 70px; /*Same height as that one of the #navigation-bar*/
}

#navigation-bar > ul#navigation-links > li:first-child {
    margin-left: 0px;
}

#navigation-bar > ul#navigation-links > li > a {
    color: #FFF3D8;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    padding: 0px 35px;
    font-size: 20px;
    text-align: center;
    height: 70px; /*Same height as that one of the #navigation-bar*/
    line-height: 70px; /*Same height as the height of the container so the text in it looks centered.*/
}

#navigation-bar > ul#navigation-links > li > a:hover {
    background-color: #F5DC61;
}

/*Styling for the main content of the page.*/
#wrapper {
    padding: 10px; /*Come back to check this. You will probably leave this as is.*/ 
    width: 80%;
    margin: auto;
    margin-top: 10px;
    min-height: 500px;
    box-shadow: -5px 5px 15px black;
}

#wrapper > form {
    margin: 10px;
}

form > input, textarea, button {
    width: 50%;
}

#main-content {
    margin: 0px;
}

#main-content > article {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#main-content > article > * {
    margin: 0xp;
}

#main-content > article.set-height {
    height: 600px;
}

#wrapper > h3 {
    font-weight: bolder larger;
}

#main-content > article > div.date-below-title {
    margin: 0px 10px 10px 10px;
    padding: 0px;
    height: 15px;
}

#main-content > article > div.date-below-title > time {
    float: right;
    margin: 0px;
    font-size: 10px;
}

#main-content > article > p {
    margin-bottom: 0px;
    text-align: justify;
    color: #333;
}

#main-content > article > p.set-height {
    height: 130px;
}

#main-content > article > a  {
    float: right;
}

/*Styling for the footer section*/
footer {
    margin-top: 10px;  /*DEBUG*/
    text-align: center;
    padding: 10px;
    background-color: #11B5E4;
}

footer > a {
    padding-right: 80px;
}

footer > a:last-child {
    padding-right: 0px;
}

footer > a > img {
    width: 60px;
}